<mat-toolbar color="primary">
    <span>RENTAL MANAGEMENT SYSTEM</span>
    <mat-menu #main_menu="matMenu">
      <ng-container *ngFor="let mainItem of locations">
        <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ mainItem.name }}</button>
        <mat-menu #sub_menu="matMenu">
           <button *ngFor="let subItem of mainItem.branches" mat-menu-item>
            <span (click)="catalogDetails(subItem, subItem.categories)"> {{ subItem.name }}</span></button>
        </mat-menu>
      </ng-container>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="main_menu">Select Location</button>
</mat-toolbar>
