.example-card {
  max-width: 400px;
  margin-top: 20px;
}

.container{
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.action{
  background: #2e97f3;
  color: white;
}
.mat-card{
  margin-left: 20px !important;
  cursor: pointer;
}
