<breadcrumb></breadcrumb>
<div class="container">
  <ng-container *ngFor="let category of branchSubCategories">
    <mat-card class="example-card" (click)="catalogDetails(branch)">
      <img mat-card-image width="300" height="200" src='assets/category/subcategory/{{category.image}}' alt="Photo of a Shiba Inu">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions class="action">
        <button mat-button>{{category.name}}</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
